@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.disapear-box {
    position: absolute;
    z-index: 666;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-size: 3.5em;
    color: #fafafa;
    transition: all 0.5s;
}

#start-buddon {
    transition: all 0.5s;
    color: white;
}

#start-buddon:hover {
    transform: scale(1.1);
    cursor: pointer;
    user-select: none;
}
